*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;

}

section {
  display: flex;
  flex-direction: column;
  padding: 5% 15%;

  gap: 3rem;
}



h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  font-size: 3.5rem;

}

h1 > span {
  border-bottom: solid .35rem #B6E851;
}

h2 {
  font-family: 'Barlow', sans-serif;
  font-size: 2.625rem;
  color: #B6E851;
  text-transform: uppercase;


  font-weight: bold;
}

h3 {
  font-family: 'Barlow', sans-serif;
  font-size: 2.375rem;
  font-weight: bold;
  color: #fff;
  
  text-transform: uppercase;
  line-height: 2.2; 
}

p {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  color: #fff;

  line-height: 2;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  section{
    padding: 5% 5%;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1.75rem;
  }
}