---

import About from "../components/About.astro";
import Hero from "../components/Hero.astro";
import Nav from "../components/Nav.astro";

import '@fontsource/barlow-condensed';
import '@fontsource/barlow';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Moxiefy</title>
	</head>
	<body>

		<Nav />

		<Hero />
		
		<About />
	</body>
</html>
