---
// Import Utilities

// Import style

// Import Buttons
import BResume from './buttons/Resume.astro';
---

<section class="About" id="About">
  <div >
      <h1>Ab<span>out</span></h1>
  </div>

  <div >
      <h2>Moxiefy</h2>
      <h3>BOLD. FRESH. AUTHENTIC.</h3>
      <p>Moxiefy is all about embracing what makes your brand unique, and turning the spotlight on everything that sets it apart. Challenges and change are all par for the course when you want to push boundaries, break the mould, and transform ideas into a groundbreaking reality. </p>
  </div>

  <div>
      <h2>The Creator</h2>
      <h3>Hi There, I'm Shivani!</h3>
      <p>Driven by a vibrant imagination, I possess an unwavering passion for storytelling, a meticulous eye for detail, and an undying love for aesthetically pleasing visuals.</p>
  </div>

  <BResume />
</section>

<style>

  .About {
    background-image: 
    linear-gradient(to bottom, #6312AA 0%, #711FAF 74% 125%, #8330B8 104% 107%);
  }

  div > h1 {
    text-align: right;
  }

  @media screen and (max-width: 576px) {
    .About {
      max-width: 100dvh;
    }
    div > h1 {
      text-align: right;

    }

    div > h2 {
      text-align: left;
    }
  }

  p {
    text-align: left;
    font-size: 2rem;
  }

  @media screen and (min-width: 577px) and (max-width: 1024px) {
  }


  
</style>