---
const allPosts = await Astro.glob('../pages/posts/*.md')

// Import Components
import PostCard from '../components/PostCard.astro'


---

<section id="Blog">
  <h1><span>Blo</span>g</h1>

  {allPosts.map((post) => <PostCard {post} />  )}

</section>