---




// Import Components
import PostCard from './PostCard.astro'




---

<section id="Blog">
  <h1><span>Blo</span>g</h1>
  
    <PostCard />

</section>

<style>
  section {
    background-image: 
    linear-gradient(to bottom, #A758D3 0%, #a75ad3 74% 125%, #A351D2 104% 107%);
  }


</style>