---
import Submit from './buttons/Submit.astro';
---

<section class="contact" id="Contact">
  <h1>CONT<span>ACT</span></h1>
  <div class="wrap">
    <div class="text">
      <h2>LET'S CRAFT YOUR NEXT <br>INCREDIBLE PROJECT <br>TOGETHER.</h2>
      <p>
        I look forward to collaborating with <br>you on your next project. Reach
        out with <br>requests, ideas, or queries and receive a <br>response within 24
        hours.
      </p>
    </div>

    <div class="form">
      <form name="contact" method="POST" data-netlify="true">
        <div class="form-wrap">
          <input name="name" type="text" id="name" placeholder="Name" required>
          <input name="email" type="email" id="email" placeholder="E-mail" required>
          <textarea name="message" id="message"  placeholder="Message"></textarea>
        </div>
        <Submit message="SUBMIT" />
      </form>
    </div>
  </div>
</section>

<style>
  section {
    background-image: linear-gradient(to bottom, #a75ad3 104% 107%, #6312aa 74% 125%, #8c2ec6 104% 107%);
  }

  .contact > h1 {
    text-align: right;
  }

 h2 {
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-size: 2rem;
 }

  p {
    font-family: "Barlow", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 2rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;


  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .form-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  #message {
    min-width: 30rem;
    min-height: 2rem;
    border: none;
    border-bottom: #b6e851 0.2rem solid;
    border-left: #b6e851 0.2rem solid;
    background-color: transparent;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    padding: 0.5rem;

    height: 10rem;
    resize: none;
    
  }

  #name, #email {
    border: none;
    border-bottom: #b6e851 0.2rem solid;
    border-left: #b6e851 0.2rem solid;
    background-color: transparent;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    padding: 0.5rem;
  }

input:focus {
  background-color: transparent;
}

textarea:focus {
  background-color: transparent;
}


  input::placeholder {

    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  textarea::placeholder {
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  @media screen and (max-width: 576px) {
    br {
      display: none;
    }
    .wrap {
      flex-direction: column;
      align-items: center;
    }

    h2 {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.5;
    }

    p {
      font-size: 1.25rem;
      line-height: 1.25;
      font-weight: 500;
    }
    .text {
      gap: 1rem;
    }

    

    .form-wrap {
      align-items: center;
    }

    #message {
     min-width: 20rem;
     min-height: 15rem;
    }
    

    #name, #email {
      min-width: 20rem;
    }

    .form {
      margin: 0%;
      padding: 0%;
      margin-right: 5rem;
    }
    
  }

 

  @media screen and (min-width: 577px) and (max-width: 1024px) {
  }
</style>
