---
import BCTA from "./buttons/CTA.astro";

---

<section class="Cta">
  <h1><strong>Bring to life your extraordinay <br>creative vision.</strong></h1>
  <BCTA />
</section>


<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    background-color: white;
    padding: 2% 15%;
  }
  .Cta > h1 {

    font-family: 'Barlow', sans-serif;
    font-size: 3.5rem;
    font-weight: bolder;
    color: #B6E851;

  }

  @media screen and (max-width: 576px) {
    .Cta {
      padding: 1% 2% 15% 0%;
      align-items: center;
      gap: .15rem;
    }
    .Cta > h1 {
      font-size: 2rem;
      line-height: 1.5;
      text-align: center;

    }

    
  }

 

  @media screen and (min-width: 577px) and (max-width: 1024px) {
  }


</style>