---


// Import Utilities
import { Image } from 'astro:assets';

// Import Images
import butterfly from '../assets/images/hero/butterfly.png'

// Import Components
import CTA from './buttons/HeroButton.astro';
---

<div class="Hero">

  <div class="left">
    <strong>Bold ideas <br>need <br>fearless <br>execution.</strong>
    <CTA cta = "CONNECT"/>
  </div>

    <div class="mid">
      <Image 
        src={butterfly} 
        alt="Glossy butterfly"
        class="butterfly"
    />
    </div>

    <div class="right">
      <b class="bottom">Creative <br>Marketing <br>Solutions for <br>the Bold New <br>World.</b>
    </div>
    
</div>

<style>

  @font-face {
    font-family: 'TAN - Angleton Regular';
    src: url('/fonts/TAN - Angleton Regular.ttf') format('TrueType');
  }

  .Hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    padding-top: 2%;

    background-image: 
    linear-gradient(to bottom, #6010A9 0%, #6312AA 74% 125%, #6312AA 104% 107%);

  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
  }

  strong {
        font-family: 'TAN - Angleton Regular', sans-serif;
        font-size: 3.6rem;
        text-transform: uppercase;
        color: #B6E851;
        line-height: 130%;
        

    }
    
    .mid {
      display: flex;
      flex-direction: column;
      align-items: top;
      justify-content: flex-start;
      margin-left: -15%;

    }
    
    .right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-top: 18%;
      margin-left: -15%;
    }

    b {

        font-family: 'Barlow', sans-serif;
        font-size: 1.75rem;
        font-weight: 400;
        color: white;

        line-height: 1.2;
    }

    .butterfly {
      width: 100%;
      height: auto;
    }


</style>