---
import '../styles/global.css'
import '@fontsource/barlow-condensed';

    
import { Image } from 'astro:assets';


import facebook from "../assets/images/social-icons/facebook.png"
import instagram from "../assets/images/social-icons/instagram.png"
import linkedin from "../assets/images/social-icons/linkedin.png"


---

<nav id="Nav">
    <a class="logo" href="/"><h6>moxie<span>fy</span></h6></a>
        <ul>
            <a href="/#About"><li>About</li></a>            
            <a href="/#Services"><li>Services</li></a>            
            <a href="/#Portfolio"><li>Portfolio</li></a>            
            <a href="/#Blog"><li>Blog</li></a>            
            <a href="/#Contact"><li>Contact</li></a>
        </ul>
        
        <div class="socials">
            <a href="https://www.facebook.com/people/Moxiefy/61550828314507/" target="_blank">
                <Image class="icons" src={facebook} alt="Facebook logo" />
            </a>
            <a href="https://www.instagram.com/moxiefy.co/" target="_blank">
                <Image class="icons" src={instagram} alt="Instagram logo" />
            </a>
            <a href="https://www.linkedin.com/company/moxiefydigital" target="_blank">
                <Image class="icons" src={linkedin} alt="LinkedIn logo" />
            </a>

        </div>
           
        
</nav>

<style>



nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-style: solid;
    border-color: #B6E851;
    border-left: none;
    border-right: none;
    margin-top: 2rem;
}

h6 {
    font-family: 'Architype Bayer-type W90', sans-serif;
    font-size: 32.5px;
    font-weight: 500;
    color: #6D549E;
}

ul {
    display: flex;
    gap: 3rem;
    padding: 2.5rem 2.5rem;
}

li {
    display: inline-block;
    list-style: none;
    font-size: 22.6px;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    color: #6D549E;
}

.socials {
    display: flex;
    gap: 0.75rem;
}

.icons {
    height: 2rem;
    width: auto;
}



</style>