---

// Import Utilities
import { Image } from 'astro:assets';

// Import Images
import Ads from "../assets/images/portfolio/banner/1.png";
import Design from "../assets/images/portfolio/banner/3.png";
import Branding from "../assets/images/portfolio/banner/2.png";
import Social from "../assets/images/portfolio/banner/4.png";

---

<section class="Portfolio" id="Portfolio">
  <div><h1>Portf<span>olio</span></h1></div>
  <div class="img-holder">
    <div class="top">
      <div class="ads" id="card">
        <a href='portfolio/ads'>
          <Image src={Ads} alt="Ads Portfolio">
        </a>
        <h2>meta ad <br>creatives</h2>
      </div>
      
      <div class="design" id="card">
        <a href="portfolio/design">
          <Image src={Design} alt="Design Portfolio" />
        </a>
        <h2>brand proposition <br>development</h2>
      </div>
      
    </div>

    <div class="bottom">
      <div class="brand" id="card">
        <a href="portfolio/brand">
          <Image src={Branding} alt="Branding Portfolio" />
        </a>
        <h2>Marketing and <br>Advertising Designs</h2>

      </div>
      <div class="social" id="card">
        <a href="portfolio/social">
          <Image src={Social} alt="Social Media Portfolio" />
        </a>
        <h2>social media <br>creatives</h2>
      </div>
      
    </div>

  </div>

</section>

<style>

    section {
      background-image: 
      linear-gradient(to bottom, #A758D3 0%, #a75ad3 74% 125%, #A351D2 104% 107%);
    }

  h1 {
    text-align: right;
  }

  h2 {
    background-color: #fff;
    color: #6010A9;
    font-size: 1.75rem;
    text-align: center;
    padding: 1rem 0;
  }

  .ads, .brand, .design, .social {
    display: flex;
    flex-direction: column;
    gap: 0%;
  }
    img {
        width: 33rem;
        height: auto;
        margin-bottom: -3.5rem;
    }

    .top, .bottom  {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: right;
        gap: 2rem;

    }

    

    .img-holder {
        display: flex;
        flex-direction: column;

        gap: 2rem;
    }

    #card:hover {
      transform: scale(1.05);
    }

    @media screen and (max-width: 576px) {
    .top, .bottom {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 100%;
      height: auto;
    }
    
    h2 {
      font-size: 1.5rem;
      line-height: 1.25;
    }
    a {
      overflow: hidden;
    }
  }

 

  @media screen and (min-width: 577px) and (max-width: 1024px) {
  }
    
</style>