---

---

<section class="Portfolio" id="Portfolio">
  <div><h1>Portf<span>olio</span></h1></div>
  <div class="img-holder">
      <a href="portfolio/ads"><img src="/src/assets/images/portfolio/banner/Portfolio1.png" alt="Ads Portfolio"></a>
      <a href="portfolio/design"><img src="/src/assets/images/portfolio/banner/Portfolio3.png" alt="Design Portfolio"></a>
      <a href="portfolio/brand"><img src="/src/assets/images/portfolio/banner/Portfolio2.png" alt="Branding Portfolio"></a>
      <a href="portfolio/social"><img src="/src/assets/images/portfolio/banner/Portfolio4.png" alt="Social Media Portfolio"></a>
  </div>

</section>

<style>
    img {
        width: 100%;
        height: 40rem;

        border-radius: 2rem;
    }

    .img-holder {
        display: flex;
        flex-direction: column;

        gap: 2rem;
    }
</style>