---
// Utilities
import { Image } from "astro:assets";
import { ViewTransitions } from "astro:transitions";

// Import Fonts
import '@fontsource/barlow-condensed';
import '@fontsource/barlow';


// Components
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

// Styles
import '../styles/blog.css';



// Frontmatter
const {frontmatter} = Astro.props;

const {title, description, image} = frontmatter;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
		<title>{title}</title>

	<ViewTransitions />

	</head>

  <body>

		<Nav />

    <main>
      <article>
        <slot/>
      </article>

    </main>

    <Footer />  

	</body>
  
</html>

<style>

  



</style>