---
// Import utilities
// import { ViewTransitions } from "astro:transitions";

// Import styles
import '../styles/global.css';

// // Import components
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

// Astro props
const {
  title = "Default title",
  description = "Default description",

} = Astro.props;

import Snippets from '../components/Snippets.astro'

---

<html lang="en">

	<head>
		<Snippets />
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
		<title>{title}</title>

		<!-- <ViewTransitions /> -->

	</head>
	<body>
		<Nav/>
		<slot>
      Default content
    </slot>
		<Footer />

		<!-- Hello Bar Script -->
		<script src="https://my.hellobar.com/1cd5f62fcf3f128620062b47abb1792df3e13346.js" type="text/javascript" charset="utf-8" async="async"> </script>
	</body>
</html>

