---
// Import utilities
import { ViewTransitions } from "astro:transitions";

// Import styles
import '../styles/global.css';

// Import components
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

// Astro props
const {
  title = "Default title",
  description = "Default description",

} = Astro.props;
---

<html lang="en">

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
		<title>{title}</title>

		<ViewTransitions />

	</head>
	<body>
		<Nav/>
		<slot>
      Default content
    </slot>
		<Footer />
	</body>
</html>