---


// Import Fonts
import '@fontsource/barlow';

// Import Utilities
import { Image } from 'astro:assets';

// Import Images
import left from '/src/assets/images/portfolio/brand/left.png'
import right from '/src/assets/images/portfolio/brand/right.png'

// Import Layouts
import MainLayout from "../../layouts/MainLayout.astro";


---
<MainLayout 
    title="Communicating Value Through Brand Proposition"
    description="">


<section>

    
    <h1>Communicating value <span>through brand</span> proposition</h1>
   
    <h2>The BRAND</h2>
    <p>Arcobaleno is an organic wholewheat pasta brand which unlike conventional wholewheat pasta brands, offers pasta in an array of vibrant colors and shapes. By thoughtfully selecting natural and organic ingredients, the brand ensures that each vivid hue comes straight from nature's palette.</p>

    <h2>The Creative Process</h2>
    <p>The main problem faced by consumers is that wholewheat pasta does not look very appetizing due to its brown color.
    <p>The primary benefit Arcobaleno offers is that its products comes in visually appealing colors and is still healthy due to the use of natural ingredients. The organic and sustainable farming methods the brand supports provides an added benefit. </p>   
     <p>   The following statement captures Arcobaleno's brand proposition, connecting the above two points- <br><br> <b> "Organic wholewheat pasta that tastes as good as it looks"</b></p>
        
    <div class="results">

        <div id="left">
            <div id="top">

                <Image src={left} alt="Instagram Account" height={420} /> 
            
            </div>

            <div id="bottom">
                
                <h3>Capturing the brand <br>proposition through <br>packaging design </h3>
            
            </div>

        </div>

        <div id="right">

            <div id="top">

                <Image src={right} alt="Instagram Account" height={320} />
            </div>

            <div id="bottom">
                <h3>Memes on social media <br>that communicate the <br>brand proposition in an <br>entertaining manner</h3>
            </div>

        </div>

    </div>
    
</section>

</MainLayout>

<style>
    section {
        background-image: linear-gradient(to bottom, #6010a9 0%, #a659d2 100%);
    }

    h3 {
        font-family: 'Barlow', sans-serif;
        font-size: 1rem;
        font-weight: 100;

        line-height: 1.3;
        color: #fff;

        text-align: center;
     }

    .results {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



</style>