---
// import Footer from "../../components/Footer.astro";
import Nav from "../../components/Nav.astro";
---

<Nav />


<section>

    
    <h1><span>passion</span> in pixels</h1>
   
    <h2>brand creatives</h2>

    <div id="col">
        <div id="row">
            <img src="/src/assets/images/portfolio/design/1.jpg" alt="Ads Portfolio" height="320px">
            <img src="/src/assets/images/portfolio/design/2.jpg" alt="Ads Portfolio" height="320px">
            <img src="/src/assets/images/portfolio/design/3.jpg" alt="Ads Portfolio" height="320px">
        </div>
        <div id="row">
            <img src="/src/assets/images/portfolio/design/4.jpg" alt="Ads Portfolio" height="320px">
            <img src="/src/assets/images/portfolio/design/5.jpg" alt="Ads Portfolio" height="320px">
            <img src="/src/assets/images/portfolio/design/6.jpg" alt="Ads Portfolio" height="320px">
        </div>
        <div id="row">
            <img src="/src/assets/images/portfolio/design/7.jpg" alt="Ads Portfolio" height="320px">
            <img src="/src/assets/images/portfolio/design/8.jpg" alt="Ads Portfolio" height="320px">
        </div>
    </div>

    <img src="/src/assets/images/portfolio/design/9.jpg" alt="Ads Portfolio" width="100%">
        
    <h2>personal projects</h2>

    <div class="PProjects">
        <div class="left">
            <img src="/src/assets/images/portfolio/design/10.jpg" alt="Ads Portfolio" height="400px" width="100%">
            <img src="/src/assets/images/portfolio/design/11.jpg" alt="Ads Portfolio" height="400px" width="100%">
        </div>

        <div class="right">
            <img src="/src/assets/images/portfolio/design/12.jpg" alt="Ads Portfolio" width="100%" height="800px">
        </div>
        
    </div>
    <div id="bottom">
        <img src="/src/assets/images/portfolio/design/13.jpg" alt="Ads Portfolio" width="100%" height="350px">
        <div id="together">
            <img src="/src/assets/images/portfolio/design/15.jpg" alt="Ads Portfolio" width="100%" height="350px">
            <img src="/src/assets/images/portfolio/design/14.jpg" alt="Ads Portfolio" width="100%" height="350px">


        </div>

    </div>
    


</section>

<!-- <Footer /> -->


<style>

    h3 {
        font-family: 'Trade Gothic LT', sans-serif;
        font-size: 2.625rem;
        color: #6D549E;
        text-transform: uppercase;
    }

    #col {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        padding-bottom: 2rem;


    }

    #row {
        display: flex;
        flex-direction: row;
        gap: 2rem;


    }

    img {
        width: auto;
    }

    .PProjects {
        display: flex;
        flex-direction: row;

        justify-content: space-around;
        align-items: top;


        gap: 2rem;

    }

    #bottom {
        display: flex;
        flex-direction: row;

        justify-content: space-around;
        align-items: top;

        gap: .9rem;
    }

    #together {
        display: flex;
        gap: 0rem;
    }
</style>