---
// import Footer from "../../components/Footer.astro";
import Nav from "../../components/Nav.astro";
---
<Nav />

<section>
    <h1>social media <span>content Development</span></h1>

    <h2>The Project Proposal</h2>

    <p>Develop social media content to create awareness about the brand Chalo India World and drive traffic to the website.  </p>

    <h2>the content development process </h2>

    <p>After conducting research on the content trends in the travel industry and the target audience, primary content buckets such as informational, festive events, and engagement were created. 
    </p>

    <p>Next, the content formats were decided such as static posts and carousels for informational content, reels for festive content, and stories for engagement content. 
    </p>

    <p>Once the content calendar was prepared, the social media copies, captions and creatives were developed after thorough research. </p> 
    
    <div class="results">

        <div id="left">
            <h2>Results</h2>

            <p>Compared to the previous content strategy of only posting static posts, highlighting a single destination, using a combination of formats resulted in more engagement. </p>
        
            <p>The reels related to festive content were found to be the best performing posts. </p>
        
            <p>This also resulted in micro and mid-tiered travel influencers and travel bloggers reaching out for collaborations. </p>
        </div>


        <div id="right">
            <img src="/src/assets/images/portfolio/social/results.png" alt="Instagram Account" height="720px">

        </div>

    </div>
   
</section>

<!-- <Footer /> -->
<style>
    h3 {
        font-family: 'Barlow', sans-serif;
        font-size: 2.625rem;
        color: #6D549E;
        text-transform: uppercase;
    }

    .results {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
</style>